

.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    margin: auto;
}

table, th, td {
    border: 1px solid;
    background-color: #b3ffe0;
  }

  #check-btn {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #206040;
    color: white;
  }

  #check-btn:hover {
    border: 2px solid orange;
    color: orange;
  }

  caption {
    margin-top: 1rem;
  }

  #cash-given, #bill-amount {
    padding: 0.4rem;
    background-color: #9fdfbf;
  }

  #comment {
    font-size: large;
    color: green;
    margin-top: 1rem;
    font-weight: bolder;
  }

  .portfolio {
    margin-top: 5rem;
  }
  a {
    text-decoration: none;
    border: 2px solid maroon;
    padding: 0.5rem;
    background-color: #206040;
    color: white;
  }

  a:hover {
    border-color: black;
    color: black;
    background-color: #b3ffe0;
  }